* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #fafafa;
    color: #717171;
}

.hero{
    &__img{
        margin: 20px 50px;
        & figure{
            display: flex;
            align-items: center;
            justify-content: center;
            & img{
                box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.60);
                border-radius: 40px;
                width: 100%;
                max-height: 400px;
                height: 100%;
                object-fit: cover;
                filter:brightness(0.8);
            }
        }
    }
}

.weather{
    position: fixed;
    top: 18%;
    &__card{
        background-color: #d2d2d2a8;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0px 25px 25px 0px;
        & .card-now{
            background-color: #7b61c9;
            border-radius: 0px 25px 25px 0px;
            text-align: center;
            width: 100px;
            box-shadow: 10px 10px 5px 10px rgba(0,0,0,0.28);
            & h3 {
                color: #ffffff;
            }
            & .icon{
                background-color: #371b9d;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 80px;
                border-radius: 0px 25px 25px 0px;
                & img{
                    width: 50%;
                }
                & h3{
                    font-size: 10px;
                    margin-top: -10px;
                }
            }
            & .temperature{
                background-color: #7b61c9;
                border-radius: 0px 25px 25px 0px;
                height: 60px;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                font-size: 25px;
            }
        }
        & .card-location{
            width: 100px;
            text-align: center;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            margin: 10px;
            & .city{
                display: flex;
                align-items: center;
                margin: 10px 0;
                & h3{
                    margin: 10px;
                }
                & img{
                    width: 20px;
                }
            }
            & .map{
                margin: 10px 0;
                & figure{
                    & img{
                        width: 50px;
                        height: auto;
                    }
                }
            }
        }

    }
}


sup{
    font-size: 8px;
}

.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}

.content__forecast{
    margin: 0 20px;
    & h2{
        font-weight: 200;
    }
    & .forecast-section{
        margin: 50px 0;
    }
    & .forecast-card{
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.20);
        border-radius: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #e1e1e1;
        margin: 20px 0;
        max-width: 300px;
        width: 300px;
        cursor: pointer;
        &:hover{
            box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.40);
            transition: .5s;
        }
        & .card-weather{
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            & figure{
                & img{
                    max-width: 70px;
                    width: 100%;
                }
            }
            & .card-date{
                margin-left: -45px;
                & .card-day{
                    font-weight: bold;
                }
                & .card-weather{
                    font-weight: 300;
                }
            }
        }
        & .card-temperature{
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: right;
            background-color: #7b61c9;
            line-height: 100px;
            border-radius: 20px;
            padding: 0 50px;
            & h2{
                margin: 0 5px;
                color: #fff;
                font-weight: bold;
                font-size: 12px;
            }
        }
    }
}

.content__place{
    margin: 0 20px;
    & h2{
        font-weight: 200;
    }
    & .place{
        margin: 50px 0;
        &:hover .place-img figure img{
            filter:brightness(0.5);
            transition: 1s;
        }
        &-title{
            position: absolute;
            display: flex;
            align-items: center;
            margin: 30px;
            z-index: 1;
            & img{
                width: 20px;
            }
            & h3{
                color: #fff;
                margin: 0 10px;
                cursor: pointer;
            }
        }
        &-img{
            & figure{
                & img{
                    width: 360px;
                    border-radius: 30px;
                    filter:brightness(0.7);
                    cursor: pointer;
                    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.60);
                }
            }
        }
    }
}

.content__reviews{
    cursor: pointer;
    margin: 0 20px;
    & .reviews-title{
        display: flex;
        align-items: center;
        & img{
            width: 20px;
        }
        & h2{
            margin: 0 10px;
            font-size: 15px;
            color: #a0a0a0;
        }
        & .reviews-profile{
            margin: 0 20px;
            & img{
                width: 30px;
                height: 30px;
                border: 2px solid #ffffff;
                object-fit: cover;
                border-radius: 10px;
                margin-left: -10px;
                cursor: pointer;
                &:hover{
                    filter:brightness(0.5);
                    transition: 1s;
                }
            }
        }
    }
    & .reviews-section{
        margin: 50px 0;
        & .section-first{
            &:hover > .img img{
                filter:brightness(0.5);
                transition: 1s;
            }
            & .title{
                position: absolute;
                display: flex;
                align-items: center;
                margin: 30px;
                z-index: 1;
                & img{
                    width: 20px;
                }
                & h3{
                    color: #ffffff;
                    margin: 0 10px;
                }
            }
            & .img img{
                width: 320px;
                height: 120px;
                object-fit: cover;
                border-radius: 30px;
                filter:brightness(0.7);
                cursor: pointer;
                box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.60);
            }
        }
        & .section-second{
            & .title{
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                margin: 0 30px;
                z-index: 1;
                & img{
                    width: 20px;
                }
                & h3{
                    color: #ffffff;
                    margin: 0 74px 0 10px;
                }
                & .plus{
                    background-color: #7b61c9;
                    width: 94px;
                    height: 205px;
                    border-radius: 30px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        background-color: #9d88de;
                        transition: 1s;
                    }
                }
            }
            & .img{
                margin: 30px 0;
                & img{
                    width: 320px;
                    height: 205px;
                    object-fit: cover;
                    border-radius: 30px;
                    filter:brightness(0.7);
                    cursor: pointer;
                    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.60);
                    &:hover{
                        filter:brightness(0.5);
                        transition: 1s;
                    }
                }
            }
        }
    }
}


.content__countries{
    margin: -80px 20px 0 20px;
    z-index: 1;
    & h2{
        font-weight: 200;
    }
    & .countries{
        display: none;
    }
    & .countries-card{
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0px 31px 95px -23px rgba(0,0,0,0.32);
        margin: 25px 0;
        cursor: pointer;
        &:hover{
            box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.40);
            transition: 0.5s;
        }
        & .card-first{
            display: flex;
            align-items: center;
            justify-content: space-between;
            & .first-img{
                background-color: #c8e0f2;
                border-radius: 15px;
                & figure{
                    & img{
                        width: 70px;
                    }
                }
            }
            & .first-temperature{
                font-size: 11px;
            }
            & .first-location{
                font-size: 10px;
                margin-right: 25px;
            }
        }
        & .card-second{
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 8px;
            color: #cbcbcb;
            & h3{
                margin: 10px;
            }
        }
    }
    & .add{
        & figure{
            cursor: pointer;
            & img{
                width: 230px;
                &:hover{
                    transform: scale(1.03);
                    transition: .5s;
                }
            }
        }
    }
}

// Media Queries

@media screen and(max-width:1430px){
    .content__countries{
        & .countries{
            display: block;
            margin-top: 50px;
        }
    }
}

@media screen and(max-width:1389px){
    .countries{
        display: block;
    }
}

@media screen and(max-width:850px){
    .weather{
        position: absolute;
        top: 100px;
    }
    .hero__img{
        & figure{
            & img{
                height: 300px;
            }
        }
    }
}

@media screen and(max-width:600px){
    .hero__img{
        margin: 20px 20px;
        & figure{
            & img{
                height: 300px;
            }
        }
    }
}

@media screen and(max-width:420px){
    .hero__img{
        margin: 20px 20px;
        & figure{
            & img{
                height: 300px;
            }
        }
    }
    .content__place{
        & .place-img{
            & figure{
                & img{
                    width: 100%;
                }
            }
        }
    }
    .content__reviews{
        & .reviews-section{
            & .section-first{
                & .img{
                    & img{
                        width: 100%;
                    }
                }
            }
        }
    }
}