* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #fafafa;
  color: #717171;
}

.hide {
  display: none;
}

.hero__img {
  margin: 20px 50px;
}

.hero__img figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__img figure img {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
  border-radius: 40px;
  width: 100%;
  max-height: 400px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.weather {
  position: fixed;
  top: 18%;
}

.weather__card {
  background-color: #d2d2d2a8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0px 25px 25px 0px;
}

.weather__card .card-now {
  background-color: #7b61c9;
  border-radius: 0px 25px 25px 0px;
  text-align: center;
  width: 100px;
  -webkit-box-shadow: 10px 10px 5px 10px rgba(0, 0, 0, 0.28);
          box-shadow: 10px 10px 5px 10px rgba(0, 0, 0, 0.28);
}

.weather__card .card-now h3 {
  color: #ffffff;
}

.weather__card .card-now .icon {
  background-color: #371b9d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80px;
  border-radius: 0px 25px 25px 0px;
}

.weather__card .card-now .icon img {
  width: 50%;
}

.weather__card .card-now .icon h3 {
  font-size: 10px;
  margin-top: -10px;
}

.weather__card .card-now .temperature {
  background-color: #7b61c9;
  border-radius: 0px 25px 25px 0px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
}

.weather__card .card-location {
  width: 100px;
  text-align: center;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

.weather__card .card-location .city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.weather__card .card-location .city h3 {
  margin: 10px;
}

.weather__card .card-location .city img {
  width: 20px;
}

.weather__card .card-location .map {
  margin: 10px 0;
}

.weather__card .card-location .map figure img {
  width: 50px;
  height: auto;
}

sup {
  font-size: 8px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px;
}

.content__forecast {
  margin: 0 20px;
}

.content__forecast h2 {
  font-weight: 200;
}

.content__forecast .forecast-section {
  margin: 50px 0;
}

.content__forecast .forecast-card {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e1e1e1;
  margin: 20px 0;
  max-width: 300px;
  width: 300px;
  cursor: pointer;
}

.content__forecast .forecast-card:hover {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  -webkit-transition: .5s;
  transition: .5s;
}

.content__forecast .forecast-card .card-weather {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content__forecast .forecast-card .card-weather figure img {
  max-width: 70px;
  width: 100%;
}

.content__forecast .forecast-card .card-weather .card-date {
  margin-left: -45px;
}

.content__forecast .forecast-card .card-weather .card-date .card-day {
  font-weight: bold;
}

.content__forecast .forecast-card .card-weather .card-date .card-weather {
  font-weight: 300;
}

.content__forecast .forecast-card .card-temperature {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  background-color: #7b61c9;
  line-height: 100px;
  border-radius: 20px;
  padding: 0 50px;
}

.content__forecast .forecast-card .card-temperature h2 {
  margin: 0 5px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

.content__place {
  margin: 0 20px;
}

.content__place h2 {
  font-weight: 200;
}

.content__place .place {
  margin: 50px 0;
}

.content__place .place:hover .place-img figure img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  -webkit-transition: 1s;
  transition: 1s;
}

.content__place .place-title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  z-index: 1;
}

.content__place .place-title img {
  width: 20px;
}

.content__place .place-title h3 {
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
}

.content__place .place-img figure img {
  width: 360px;
  border-radius: 30px;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
}

.content__reviews {
  cursor: pointer;
  margin: 0 20px;
}

.content__reviews .reviews-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__reviews .reviews-title img {
  width: 20px;
}

.content__reviews .reviews-title h2 {
  margin: 0 10px;
  font-size: 15px;
  color: #a0a0a0;
}

.content__reviews .reviews-title .reviews-profile {
  margin: 0 20px;
}

.content__reviews .reviews-title .reviews-profile img {
  width: 30px;
  height: 30px;
  border: 2px solid #ffffff;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-left: -10px;
  cursor: pointer;
}

.content__reviews .reviews-title .reviews-profile img:hover {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  -webkit-transition: 1s;
  transition: 1s;
}

.content__reviews .reviews-section {
  margin: 50px 0;
}

.content__reviews .reviews-section .section-first:hover > .img img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  -webkit-transition: 1s;
  transition: 1s;
}

.content__reviews .reviews-section .section-first .title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  z-index: 1;
}

.content__reviews .reviews-section .section-first .title img {
  width: 20px;
}

.content__reviews .reviews-section .section-first .title h3 {
  color: #ffffff;
  margin: 0 10px;
}

.content__reviews .reviews-section .section-first .img img {
  width: 320px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
}

.content__reviews .reviews-section .section-second .title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 30px;
  z-index: 1;
}

.content__reviews .reviews-section .section-second .title img {
  width: 20px;
}

.content__reviews .reviews-section .section-second .title h3 {
  color: #ffffff;
  margin: 0 74px 0 10px;
}

.content__reviews .reviews-section .section-second .title .plus {
  background-color: #7b61c9;
  width: 94px;
  height: 205px;
  border-radius: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__reviews .reviews-section .section-second .title .plus:hover {
  background-color: #9d88de;
  -webkit-transition: 1s;
  transition: 1s;
}

.content__reviews .reviews-section .section-second .img {
  margin: 30px 0;
}

.content__reviews .reviews-section .section-second .img img {
  width: 320px;
  height: 205px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
}

.content__reviews .reviews-section .section-second .img img:hover {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  -webkit-transition: 1s;
  transition: 1s;
}

.content__countries {
  margin: -80px 20px 0 20px;
  z-index: 1;
}

.content__countries .countries {
  font-weight: 200;
}

.content__countries .countries {
  display: none;
}

.content__countries .countries-card {
  background-color: #ffffff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 31px 95px -23px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 31px 95px -23px rgba(0, 0, 0, 0.32);
  margin: 25px 0;
  cursor: pointer;
}

.content__countries .countries-card:hover {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content__countries .countries-card .card-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__countries .countries-card .card-first .first-img {
  background-color: #c8e0f2;
  border-radius: 15px;
}

.content__countries .countries-card .card-first .first-img figure img {
  width: 70px;
}

.content__countries .countries-card .card-first .first-temperature {
  font-size: 11px;
}

.content__countries .countries-card .card-first .first-location {
  font-size: 10px;
  margin-right: 25px;
}

.content__countries .countries-card .card-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 8px;
  color: #cbcbcb;
}

.content__countries .countries-card .card-second h3 {
  margin: 10px;
}

.content__countries .add figure {
  cursor: pointer;
}

.content__countries .add figure img {
  width: 230px;
}

.content__countries .add figure img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (max-width: 1430px) {
  .content__countries .countries {
    display: block;
    margin-top: 50px;
  }
}

@media screen and (max-width: 1389px) {
  .countries {
    display: block;
  }
}

@media screen and (max-width: 850px) {
  .weather {
    position: absolute;
    top: 100px;
  }
  .hero__img figure img {
    height: 300px;
  }
}

@media screen and (max-width: 600px) {
  .hero__img {
    margin: 20px 20px;
  }
  .hero__img figure img {
    height: 300px;
  }
}

@media screen and (max-width: 420px) {
  .hero__img {
    margin: 20px 20px;
  }
  .hero__img figure img {
    height: 300px;
  }
  .content__place .place-img figure img {
    width: 100%;
  }
  .content__reviews .reviews-section .section-first .img img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */